//npm.pkg.github.com/:_authToken=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
@fit-hub-indonesia:registry=https://npm.pkg.github.com
@cashbound-id:registry=https://npm.pkg.github.com
link-workspace-packages=false