@use "sass:map";

$devices: (
  "desktop": (
    height: var(--footer-desktop-height),
  ),
  "tablet": (
    height: var(--footer-tablet-height),
  ),
  "mobile": (
    height: var(--footer-mobile-height),
  ),
);

.footer {
  background-color: var(--footer-background);
  height: 100%;
  padding: 40px 0;

  @each $device, $item in $devices {
    &[data-device="#{$device}"] {
      height: map.get($item, height);
    }
  }

  &[data-device="desktop"] {

    .footer {

      &__menu {
        align-items: center;
        display: flex;
        gap: 24px;
        position: relative;

        li {
          position: relative;

          a {
            display: block;
            padding: 6px 4px;
          }

          &::before {
            background-color: var(--WHITE);
            border-radius: 50%;
            content: "";
            height: 6px;
            position: absolute;
            right: -15px;
            top: 50%;
            translate: 0 -50%;
            width: 6px;
          }

          &:last-child {

            &::before {
              display: none;
            }
          }
        }
      }

      &__social-media {
        align-items: center;
        display: flex;
        gap: 24px;
        position: relative;
      }
    }

    > section,
    > section > section {
      height: 100%;
    }
  }

  &[data-device="mobile"] {

    .footer {

      &__menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;

        a {
          display: block;
          padding: 6px 4px;
        }
      }

      &__social-media {
        align-items: center;
        display: flex;
        gap: 40px;
        position: relative;
      }
    }
  }
}
